html{
	height: 100%;
	width: auto;
	scroll-behavior: smooth;
}

body{
	margin: auto 0;
	background: black;
	font-size: 1.2em;
	font-family: 'Cambay', sans-serif;
	color: white;
}


header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	
}

nav li {
	list-style: none;
	display: inline;
}

nav li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;	
	color: white;
}

/*nav hover efects*/
nav li a:hover {
	background: #E0E0E0;
	color: black;
	transition: 1.2s;
}

/*container with logo and mission statemtn*/
.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #E0E0E0;
	padding: 20px;
}


/*brand logo size*/
.brand-logo {
	width: 45%;
	height: 45%;
}
 

/*mission statement div*/
#mission {
	text-align: center;
	padding: 20px;
	color: black;
}



.spantext {
	color: #ec1b25;
	text-decoration: none;
}

/*header video*/
.myVideo {
	display: flex;
	justify-content: center;
  	margin-left: auto;
  	margin-right: auto;
  	opacity: 0.6;
  	width: 80%;
  	padding-top: 30px;
 }

.platforms {
	text-align: center;
}

 .platforms p {
 	font-size: 1em;
 	color: white;
 }

/*colors for podcast links*/
 .platforms a {
 	color: #ec1b25;
 	text-decoration: none;
 }

 /*hovering platform links*/
 .platforms a:hover {
 	text-decoration: underline;
 }

 /*padding for platofrm logos*/
 .platforms img {
 	padding: 0px 5px 0px 5px; 
 }

/*container for list of podcasts*/
#podcast-episodes {
	background: black;
	color: white;
}

#podcast-episodes summary {
	font-size: 2em;
	text-align: center;
	padding-bottom: 20px;
	text-transform: uppercase;
}

/*names of episodes*/
#podcast-episodes li {
	color: #E0E0E0;
}

/*style for names oof episodes*/
#podcast-episodes a {
	text-decoration: none;
	color: white;
}

/*style for episode descriptions*/
#podcast-episodes p {
	font-size: 14px;
}

#podcast-episodes a:hover {
	color: #ec1b25;
	transition: .8s;
}

/*background pic for reviews section*/
#backgroundpic {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("podcast.jpg") fixed no-repeat;
	background-size: cover;
	background-position: top;
}

/*container for reviews section*/
.review-container {
	color: white;
	padding: 10px;
}

.review-container h2 {
	text-align: center;
	color: white;
}

/*individual review containers*/
.review {
	height: auto;
	width: auto;
	border: 1px white solid;
	margin: 15px;
	padding: 10px;
	box-shadow: 0 0 5px white; /*gives the form a white glowing blur*/
}

/*color for title of reviews*/
.review h3 {
	color: #ec1b25;
}

.review p {
	font-size: 14px;
}

/*for stars in review section*/
.checked {
  color: orange;
}

/*container for about section*/
.about {
	display: flex;
	padding: 5px;
	background-color: #E0E0E0;
}

/*div blocks for about image & description*/
.about-divs {
	padding: 5px;
}

/*about me image*/
.image {
	object-fit: contain; /*contains image in the container*/
	filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.6));
}

.about-divs h1 {
	font-size: 3em;
  	background: -webkit-linear-gradient(#000000, #ffffff);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	text-align: center;
	text-transform: uppercase;
}

.about-divs p {
	text-align: center;
	line-height: 150%;
	color: black;
}

/*container for conecting section*/
.connect-container {
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	text-align: center;
}


/*instagram logo*/
.instagram {
	width: 40px;
	height: 40px;
	opacity: 0.7;
}

.instagram:hover {
	opacity: 1;
	transition: ease-in 1s;
	transform: scale(1.2);
}

.hottopics li {
	list-style: none;
	color: #3A3333;
}


footer {
	display: flex;
	align-items: center;
	background-color: #ec1b25;
	padding-left: 8px;
	padding-right: 8px;
}

/* making copyright sign red*/
.copyright {
	color: black;
}

/*smaller version of brand logo*/
.footerlogo {
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

/*aligns brand name all the way right*/
.creatorbrand {
	margin-left: auto; 
}


/*make website more responsive*/
@media screen and (max-width: 850px) {
	.about {
		flex-wrap: wrap;
		justify-content: center;
	}

	.about-divs h1 {
		font-size: 2em;
	}

	.image {
		width: 100%;
		height: 100%;
	}
}


@media screen and (max-width: 768px) {
	.header-container {
		flex-wrap: wrap;
	}

	.brand-logo {
		width: 70%;
		height: 60%;
	}

	footer {
		font-size: 16px;
	}
}
