html {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}


body {
	background: url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.myrecipes.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2Fchickeninwaffles.jpg%3Fitok%3DUkaEGZ6c) no-repeat;
	background-color: white;
	background-size: cover;
	font-size: 16px;
	color: white;
	font-family: font-family: 'Yanone Kaffeesatz', sans-serif;
}


header {
	background: rgba(207, 0, 15, 0.8);
}

/* nav bar */
nav li {
	display: inline-block;
	margin: 10px;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: white;
}

 nav a:hover {
 	color: black;
 }

form{
	display: inline-block;
}


.wrapper {
	background-color: rgba(0, 0, 0, 0.3);
	margin: auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 400px;
	height: 400px;
}



.wrapper {
	font-size: 26px;
	font-weight: 600;
	padding-bottom: 30px;
}



input[type=email],
input[type=password] {
	width: 100%;
	margin: 5px 0 5px 0;
	border-radius: 8px;
	height: 30px;
}


#loginbtn {
	background-color: rgba(207, 0, 15, 0.7);
	border-radius: 5px;
	height: 20px;
	color: white;
}

#loginbtn:hover {
	opacity: 0.8;
	cursor: pointer;
}


#register {
	font-size: 12px;
}


a {
	color: white;
}












}













}